
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.lastname %>, </h1>
    <p>
		Your account (<%= @user.email %>) has been deleted.<br>
    </p>
    <p> Best regards, </p>
    <p> Rotten Mangoes Admin </p>
  </body>
</html>
