<%= link_to "Back to main page  ", movies_path %> | 
<%= link_to "Create a User", new_user_path %>
<br/>



<% @users.each do |user| %>
  <p><%= link_to user.full_name, admin_user_path(user) %> <%= user.email %> 
    <% if user.admin %>
      (admin)
    <% end %>
  </p>
<% end %>
